/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Removing default html page styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Align everything to the center of the page */
main, header {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#player-screen,
#computer-screen {
    width: 10em;
    height: 10em;
    border: 2px solid black;
    margin: 1em;
}

#player-screen {
    background-color: rgb(59, 137, 255);
}

#computer-screen {
    background-color: rgb(255, 103, 103);
}

.players-area {
    display: inline-flex;
    padding: 1em;
}

#choice-buttons>i {
    font-size: 5em;
    padding-left: .25em;
    margin: .25em;
}

#choice-buttons>i:hover {
    
    text-shadow: 2px 2px 4px #000000;
    transform: scale(1.1);
}

#game-area {
    width: 100%;
}

#make-choice-heading {
    padding-top: 0.5em;
}

#rules-image {
    width: 20%;
    height: 20%;
}

.modal {
    display: none;
    position: absolute;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(201, 201, 201);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5%;
    padding: 1em;
    box-shadow: rgb(45, 55, 65) 0px 20px 30px -10px;
}

#result-modal-content, #rules-modal-content{
    text-align: center;
}

.button {
    border: 2px solid rgb(0, 0, 255);
    border-radius: 10%;
    padding: .5em;
    margin: .5em;
}
