#player-screen, #computer-screen {
    width: 10em;
    height: 10em;
    background-color: grey;
    border: 2px solid black;
    margin: 1em;
}

.players-area {
    display: inline-flex;
    padding: 1em;
}

#choice-buttons > i {
 font-size: 5em;
}