/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Removing default html page styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Align everything to the center of the page */
main,
header {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    margin: 0.5em;
}

#player-screen,
#computer-screen {
    width: 10em;
    height: 10em;
    border: 2px solid black;
    margin: 1em;
}

#player-screen {
    background-color: rgb(59, 137, 255);
    border: 3px solid black;
    border-radius: 10%;
}

#computer-screen {
    background-color: rgb(255, 103, 103);
    border: 3px solid black;
    border-radius: 10%;
}

.players-area {
    display: inline-flex;
    padding: 1em;
}

#choice-buttons {
    display: inline-block;
}

#choice-buttons>i {
    font-size: 5em;
    padding-left: .25em;
    margin: .25em;
}

#choice-buttons>i:hover {

    transform: scale(1.2);
}

#game-area {
    width: 100%;
}

#make-choice-heading {
    padding-top: 0.5em;
}

#rules-image {
    width: 50%;
    height: 50%;
}

.modal {
    display: none;
    position: absolute;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(232, 232, 232);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
    padding: 1em;
    box-shadow: rgb(45, 55, 65) 0px 20px 30px -10px;
}

#result-modal-content,
#rules-modal-content {
    text-align: center;
}

.button {
    color: rgb(59, 137, 255);
    background-color: white;
    font-size: 1.2em;
    border: 2px solid rgb(59, 137, 255);
    border-radius: 10%;
    padding: .5em;
    margin: .5em;
}